<!doctype html>
<html>
<head>
    <title>Gardnergram</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1>Feed</h1>
        <a href="/profile" class="profile">Go to Profile</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

       
        <div class="col-sm-6">
          <ul class="messages">
          <% for(var i=0; i<posts.length; i++) {%>
            <li class="message">
              <a href="/post/<%= posts[i]._id %>">
                <img src="<%= posts[i].img %>" alt="">
                <h4><%= posts[i].caption %></h4>
              </a>  
               <a href="/page/<%= posts[i].postedBy %>">User: <%= posts[i].postedBy %></a>
              <span id="heart" data-id="<%= posts[i]._id %>"><%= posts[i].heart %></span>
              <% if(posts[i].heart > 0){ %>
                <span><i class="fa fa-heart" aria-hidden="true"></i></span>
                <%} else {%>
                  <span><i class="fa fa-heart" aria-hidden="true"></i></span>
                  <%}%>
            </li>
          <% } %>
          </ul>
</div>

<script src="main.js"></script>

</body>
</html>
